:root {
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);
--clr-gradient-slateblue: hsl(252, 100%, 67%);
--clr-gradient-royalblue: hsl(241, 81%, 54%);

--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue: hsla(241, 72%, 46%, 0);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    gap: 0;
}

.card-container {
    display: flex;
    width: 60vw;
    justify-content: center;
    border-radius: 1.8vw;
}

.result {
    padding: 1.5rem;
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(to bottom, var(--clr-gradient-slateblue), var(--clr-gradient-royalblue));
}

.card-two {
    width: 50%;
    padding: 20px;
}

.card-one h4 {
    text-align: center;
}

.card-score_1 {
    padding: 50px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    box-shadow: ;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}