:root {
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);
--clr-gradient-slateblue: hsl(252, 100%, 67%);
--clr-gradient-royalblue: hsl(241, 81%, 54%);

--clr-gradient-violetblue: hsla(256, 72%, 46%, 1);
--clr-gradient-persianblue: hsla(241, 72%, 46%, 0);
--light-lavender: hsl(280, 63%, 68%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    gap: 0;
}

.card-container {
    display: flex;
    width: 60vw;
    justify-content: center;
    border-radius: 1.8vw;
}

.result {
      width: 50%;
  padding: 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(to bottom, var(--clr-gradient-slateblue), var(--clr-gradient-royalblue));
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.result .circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(255, 71%, 46%), rgba(76, 34, 201, 0));
    height: 145px;
    width: 145px;
    border-radius: 50%;
}

.result h3 {
    color: var(--light-lavender);
}

.summary {
    width: 50%;
    padding: 20px;
}

.summary title {
    text-align: center;
}

.card-score_1 {
    padding: 50px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    box-shadow: ;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}