:root {
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);
--clr-gradient-slateblue: hsl(252, 100%, 67%);
--clr-gradient-royalblue: hsl(241, 81%, 54%);

--clr-gradient-violet-blue: hsla(256, 72%, 46%, 1);
--clr-gradient-persian-blue: hsla(241, 72%, 46%, 0);
--light-lavender: hsl(280, 63%, 68%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    gap: 0;
}

.card-container {
    display: flex;
    width: 60vw;
    justify-content: center;
    border-radius: 1.8vw;
}

.result {
    padding: 1.5rem;
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(to bottom, var(--clr-gradient-slateblue), var(--clr-gradient-royalblue));
    text-align: center;
}

.result .circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--clr-gradient-violetblue), var(--clr-gradient-Persianblue));
}

.result h3 {
    color: var(--light-lavender);
}

.summary {
    width: 50%;
    padding: 20px;
}

.summary title {
    text-align: center;
}

.card-score_1 {
    padding: 50px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    box-shadow: ;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}